.title {
  color: #555555; }

.subtitle {
  color: #999; }

.app-icon {
  background-color: #2497DA;
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 50px;
  text-transform: capitalize; }

.buttonGroup {
  align-items: center;
  height: 100%;
  display: flex;
  float: right;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

.appList:hover {
  cursor: pointer; }
  .appList:hover .buttonGroup {
    opacity: 1; }
  .appList:hover .app-icon {
    background-color: #124d77; }
  .appList:hover .title {
    text-decoration: underline; }
